.catalog {
    overflow-x: hidden;
}

.catalog_text {
    display: flex;
    align-items: center;
    margin-left: 280px;
    font-weight: 600;
    font-size: 55px;
    width: 854px;
    height: 154px;
    color: #1B1A1F;
}

.catalog_up {
    margin-left: 280px;
    display: flex;
    align-items: center;
    width: 196px;
    height: 30px;
    color: #EB4C56;
    font-weight: 400;
    font-size: 20px;
}

.catalog_up img {
    color: #E36F2D;
    margin-right: 19px;
    width: 89px;
}

.categories {
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
    border-bottom: 1px solid transparent;
}

.categories div {
    display: inline-block;
    background: white;
    padding: 10px 20px;
    margin-bottom: 25px;
    margin-right: 15px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    border-color: #E5E5E5;
    transition: all 500ms ease;
    justify-content: end;
}

.categories div:hover {
    border-color: #EB4C56;
    color: #EB4C56;
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 31px;
    margin-bottom: 67px;
}

.item img {
    width: 300px;
    height: 300px;
}


.item_name {
    font-weight: 400;
    font-size: 23px;
    text-align: center;

}

.item_old_price {
    position: absolute;
    font-weight: 400;
    font-size: 10px;
    margin-left: 80px;
    margin-top: 3px;
    color: #CACACA;
    text-decoration: line-through;
}

.item_price {
    margin-left: 150px;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    color: rgba(17, 16, 16, 0.5)
}

.price_item {
    margin-top: 15px;
}

.button_showMore {
    width: 238px;
    height: 59px;
    background-color: #EB4C56;
    font-weight: 600;
    font-size: 18px;
    color: white;
    justify-content: center;
}

.items_and_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 92px;
}